@use '../../App.scss' as app;

.avatar {
  width: 50px;
  min-width: 50px;
  height: 50px;
  float: left;
  border-radius: 50%;
  background: #c8cbcd;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 2rem;
  margin-right: 1rem;
}

.title {
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 1rem;
  background-color: #46a082;
  color: white;

  @media screen and (max-width: app.$max-mobile-width) {
    padding: 0.5rem;
  }
}

.chat-container {
  flex: 1;
  overflow-x: hidden;
  margin: 1rem;

  @media screen and (max-width: app.$max-mobile-width) {
    margin: 0.5rem;
  }
}

.chat {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid white;
}

.message {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  max-width: 80%;
}

.message h4 {
  margin: 0 0.25rem 0.25rem 0;
}

.message p {
  margin: 0 auto;
  max-width: 360px;
}

.message--outgoing {
  width: 50%;
  align-self: end;
  background: #dfdada;
  ;
  border-color: #b1d0b1;
}

.message--incoming {
  width: 50%;
  align-self: start;
  background: #c8e7cc;
  border-color: #aae5b1;
}

.send {
  display: flex;
  padding-top: 1rem;

  @media screen and (max-width: app.$max-mobile-width) {
    padding-top: 0.5rem;
  }
}

input.send__input,
button.emoji__button {
  margin-left: 0;

  @media screen and (max-width: app.$max-mobile-width) {
    font-size: 16px;
    padding: 0.5rem;
  }
}

button.send__button {
  margin-right: 1rem;

  @media screen and (max-width: app.$max-mobile-width) {
    font-size: 16px;
    padding: 0.5rem;
    margin: 0 0.5rem;
  }
}

.picker__container {
  position: relative;

  @media screen and (max-height: app.$landscape-mode-height) {
    position: unset;
  }
}

.emoji__picker {
  position: absolute;
  bottom: 5rem;
  right: 0;

  @media screen and (max-width: app.$max-mobile-width) {
    right: 0;
    bottom: 3.5rem;
  }

  @media screen and (max-height: app.$landscape-mode-height) {
    right: 0.5rem;
    bottom: 4rem;
  }
}

div.epr-category-nav {
  padding: 0 0.5rem 0.5rem;
}
